<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        footer {
        font-size: 8pt;
        color: black;
        padding: 30px;
        text-aling: bottom-center;
        font-family: sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <title>Contatos</title>
</head>
<body>
<table border="1" cellpadding="5">
    <tr>
        <td style="font-weight: bold;">Nome</td>
        <td style="font-weight: bold;">Telefone</td>
        <td style="font-weight: bold;">Email</td>
        <td style="font-weight: bold;">Deletar</td>
    </tr>
    {% for c in contatos %}
    <tr>
        <td>{{c[0]}}</td>


        {% if c[1] %}
        <td>{{c[1]}}</td>
        {% else %}
        <td></td>
        {% endif %}



        {% if c[2] %}
        <td>{{c[2]}}</td>
        {% else %}
        <td></td>
        {% endif %}


        <td align="center"><a href="/delete/{{c[3]}}" style="font-weight: bold; color: rgba(255,0,0,1); text-decoration: none;">X</a></td>


    </tr>
    {% endfor %}
</table>
<footer style="font-size: 10pt; padding: 20px; float: bottom-left">
<a href="/inserir" style="color: blue; text-decoration: none; font-weight: bolder;">Inserir um novo contato</a><br>
<a href="/" style="color: blue; text-decoration: none; font-weight: bolder;">Voltar à Tela Inicial</a>
    <p>&copy; Pedro Paulo Rangel Gomes de Barros</p>
</footer>
</body>
</html>