<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        a {
        color: blue;
        text-decoration: none;
        font-size: 20pt;
        font-family: sans-serif;
        }
        footer {
        font-size: 8pt;
        color: black;
        padding: 30px;
        text-aling: bottom-center;
        font-family: sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <title>Contatos</title>
</head>
<body>
<a href="/listar">-> Listar Contatos</a>
<br>
<a href="/inserir">-> Inserir Contato</a>
<footer>
    <p>&copy; Pedro Paulo Rangel Gomes de Barros</p>
</footer>
</body>
</html>